body,table{
    font-size:12px;
}
table{
    table-layout:fixed;
    empty-cells:show;
    border-collapse: collapse;
    margin:0 auto;
}
td{
    height:30px;
}
h1,h2,h3{
    font-size:12px;
    margin:0;
    padding:0;
}
.table{
    border:1px solid #cad9ea;
    color:#666;
}
.table th {
    background-repeat:repeat-x;
    height:30px;
}
.table td,.table th{
    border:1px solid #cad9ea;
    padding:0 1em 0;
}
.table tr.alter{
    background-color:#f5fafe;
}

input{

    font-size:12px;
    /* 设置输入框中字体的大小 */

    height:30px;
    /* 设置输入框的高度 */

    border-radius:4px;
    /* 设置输入框的圆角的大小 */

    border:1px solid #c8cccf;
    /* 设置输入框边框的粗细和颜色 */

    color:#986655;
    /* 设置输入框中文字的颜色 */

    outline:0;
    /* 将输入框点击的时候出现的边框去掉 */

    text-align:left;
    /* 设置输入框中文字的位置 */

    padding-left: 10px;

    display:block;
    /* 将输入框设置为块级元素 */

    cursor: pointer;

    margin: 20px;

    box-shadow: 2px 2px 5px 1px #ccc;

}

input::-webkit-input-placeholder{
    color: #0c89ff;
    font-size: 12px;
}

.fo{
    font-size: 18px;
    color: #31708f;
}