.tx {
    outline-style: none;
    border: 1px solid skyblue;
    border-radius: 3px;
    line-height: 25px;
    margin-left: 30px;
    margin-top: 5px;
    width: 1028px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft soft";
}

.txs {
    outline-style: none;
    border: 1px solid skyblue;
    border-radius: 3px;
    line-height: 25px;
    margin-left: 30px;
    margin-top: 5px;
    width: 438px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft soft";
}